/* ==========================================================================
   Key Frames and Animations
========================================================================== */

@keyframes slideIn {
    0% {
        opacity:0;
        transform: translateX(100%);
    }
    100% {
        opacity:1;
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.slide-in {
    animation-name: slideIn;
    animation-duration: 500ms;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1500ms;
}

/* ==========================================================================
   Hide and Show Elements
========================================================================== */

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

/* ==========================================================================
   Button Pseudos
========================================================================== */

.button:hover {
    cursor: pointer;
}

.button:active {
    border: none;
    transform: translateY(3px);
}