/* ==========================================================================
   Body Grid Container
========================================================================== */

.body-grid-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
}

/* Body Grid Item IDs */

#header {
    grid-area: header;
}

#main {
    grid-area: main;
}

/* Body Item Containers */

.body-item-container {
    display: grid;
    width: 95%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    gap: 3rem;
}

/* ==========================================================================
   Header Grid Container
========================================================================== */

.header-grid-container {
    grid-template-areas:
    "status header-heading";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
}

/* Header Grid Item IDs */

#header-heading {
    grid-area: header-heading;
    place-self: center end;
}

#status {
    grid-area: status;
    place-self: center;
}

/* ==========================================================================
   Main Grid Container
========================================================================== */

.main-grid-container {
    grid-template-areas:
    "search current-weather"
    "history weather-forecast";
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 4fr;
}

/* Main Grid Item IDs */

#search {
    grid-area: search;
}

#history {
    grid-area: history;
}

#current-weather {
    grid-area: current-weather;
}

#weather-forecast {
    grid-area: weather-forecast;
}

/* Main Item Containers */

.main-item-container {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    margin: 0 auto;
}

/* Search Grid Container
========================================================================== */

.search-grid-container {
    grid-template-areas:
    "city-label state-label"
    "city-input state-input"
    "search-button search-button";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr); 
}

/* Search Grid Item IDs */

#city-label {
    grid-area: city-label;
}

#city-input {
    grid-area: city-input;
}

#state-label {
    grid-area: state-label;
}

#state-input {
    grid-area: state-input;
}

#search-button {
    grid-area: search-button;
}

/* Search Form */

.search-form {
    height: 100%;
}

/* History Grid Container
========================================================================== */

.history-grid-container {
    grid-template-areas:
    "history-label"
    "history-input"
    "load-label"
    "history-button"
    "delete-label"
    "delete-button";
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
}

/* History Grid Item IDs */

#history-label {
    grid-area: history-label;
}

#history-input {
    grid-area: history-input;
    place-self: start center;
}

#history-button {
    grid-area: history-button;
    place-self: start center;
}

#delete-button {
    grid-area: delete-button;
    place-self: start center;
}

/* History Form */

.history-form {
    height: 100%;
}

/* Weather Grid Container
========================================================================== */

.weather-grid-container {
    grid-template-areas:
    "current-time selected-city current-icon current-wind"
    "current-date current-temp weather-descr current-humidity";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}

/* Weather Grid Item IDs */

#current-date {
    grid-area: current-date;
}

#current-time {
    grid-area: current-time;
}

#selected-city {
    grid-area: selected-city;
}

#current-temp {
    grid-area: current-temp;
}

#current-icon {
    grid-area: current-icon;
}

#weather-descr {
    grid-area: weather-descr;
}

#current-wind {
    grid-area: current-wind;
}

#current-humidity {
    grid-area: current-humidity;
}

/* Forecast Grid Container
========================================================================== */

.forecast-grid-container {
    grid-template-areas:
    "forecast-heading forecast-heading forecast-heading forecast-heading forecast-heading"
    "day1 day2 day3 day4 day5";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    gap: 3rem;
}

/* Forecast Grid Item IDs */

#forecast-heading {
    grid-area: forecast-heading;
    place-self: end center;
}

#day1 {
    grid-area: day1;
}

#day2 {
    grid-area: day2;
}

#day3 {
    grid-area: day3;
}

#day4 {
    grid-area: day4;
}

#day5 {
    grid-area: day5;
}

/* Forecast Day Grid Container
========================================================================== */

.forecast-section {
    min-width: 100%;
    min-height: 100%;
}

.forecast-day-grid-container {
    display: grid;
    gap: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    place-items: center;
    grid-template-columns:
        repeat(
            auto-fit,
            minmax(
                min(10rem, 100%),
                1fr
            )
        );   
}