/* ==========================================================================
   Body Styles
========================================================================== */

body {
    font-family: Ubuntu;
    background-color: var(--dark-blue);
}

/* ==========================================================================
   Header Styles
========================================================================== */

.title {
    font-size: var(--largest-txt);
    color: var(--light-blue);
}

.status {
    font-size: var(--large-txt);
    color: var(--yellow);
}

/* ==========================================================================
   Main Styles
========================================================================== */

.main-grid-item {
    background-color: var(--reg-blue);
    color: var(--black);
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-high);
}

.heading {
    font-size: var(--large-txt);
}

.weather-icon {
    width: clamp(2rem, 2.5vw, 6rem);
}

/* Search Section Styles
========================================================================== */

.search-label {
    font-size: var(--small-txt);
}

.search-input{
    width: clamp(5rem, 66% + 1px, 10rem);
    padding: 0.5rem;
    text-align: center;
    background-color: var(--white);
}

.search-dropdown{
    width: clamp(4rem, 33% + 1px, 10rem);
    padding: 0.5rem;
    text-align: left;
    background-color: var(--white);
}

.search-button {
    width: clamp(3rem, 33% + 1px, 10rem);
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-right: 5px solid var(--dark-blue);
    border-bottom: 5px solid var(--dark-blue);
    border-radius: 1rem;
    background-color: var(--white);
}

/* History Section Styles
========================================================================== */

.history-label {
    font-size: var(--normal-txt);
}

.history-dropdown {
    font-size: var(--small-txt);
    width: clamp(4rem, 66% + 1px, 10rem);
    padding: 0.5rem;
    text-align: left;
    background-color: var(--white);
}

.history-button {
    width: clamp(3rem, 33% + 1px, 10rem);
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-right: 5px solid var(--dark-blue);
    border-bottom: 5px solid var(--dark-blue);
    border-radius: 1rem;
    background-color: var(--white);
}

/* Current Weather Section Styles
========================================================================== */

.weather-grid-item {
    font-size: var(--normal-txt);
}

/* Weather Forecast Section Styles
========================================================================== */

.forecast-day-grid-container {
    background-color: var(--light-blue);
    padding: 1.75rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-elevation-medium);
}

.forecast-day-grid-item {
    font-size: var(--small-txt);
}